<!DOCTYPE html>
{{extend 'layout.html'}}

{{block content}}
<html>
        <!-- Page Content -->
          <ul class="nav navbar-nav navbar-right">
            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
          </ul>
          <center>
            <div class="btn-group">
              <button type="button" class="btn btn-default" onclick="show('tabla_area')">Areas</button>
              <button type="button" class="btn btn-default" onclick="show('tabla_edificios')">Edificios</button>
              <button type="button" class="btn btn-default" onclick="show('tabla_empleado')">Empleados</button>
              <button type="button" class="btn btn-default" onclick="show('tabla_espacio')">Espacios</button>
              <button type="button" class="btn btn-default" onclick="show('tabla_inventario')">Inventario</button>
              <button type="button" class="btn btn-default" onclick="show('tabla_lugar')">Lugar</button>
              <button type="button" class="btn btn-default" onclick="show('tabla_prioridad')">Prioridad</button>
              <button type="button" class="btn btn-default" onclick="show('tabla_solicitudes')">Solicitud-Estatus</button>
              <button type="button" class="btn btn-default" onclick="show('tabla_supervisores')">Supervisores</button>
              <button type="button" class="btn btn-default" onclick="show('tabla_unidades')">Unidad</button>
            </div>
          </center>

            <div class="container-fluid" id="tabla_empleado">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarEmpleado">Agregar Empleado</button>
                                    <center>
                                        <h3>Catálogo de Empleados</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de los Empleados</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Nombre</th>
                                            <th class="hColumns">Apellido</th>
                                            <th class="hColumns">USBId</th>
                                            <th class="hColumns">Cargo</th>
                                            <th class="hColumns">Tlf</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            {{for persona in personal:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(persona.nombre)}}</td>
                                                <td class="hColumns">{{=(persona.apellido)}}</td>
                                                <td class="hColumns">{{=(persona.identificador)}}</td>
                                                <td class="hColumns">{{=(persona.cargo)}}</td>
                                                <td class="hColumns">{{=(persona.tlf)}}</td>
                                                <td width="20px">
                                                    <a href="{{=URL('eliminar', persona.identificador)}}">
                                                        <img src="{{=URL('static','images/editar2.png')}}" width="20px">
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=persona.identificador)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="container-fluid" id="tabla_lugar">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarLugar">Agregar Lugar</button>
                                    <center>
                                        <h3>Catálogo de Lugares</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de los Lugares de la USB</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Edificio</th>
                                            <th class="hColumns">Espacio</th>
                                            <th class="hColumns">Referencia</th>
                                            <th class="hColumns">Extencion Tlf</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            {{for lugar in lugar:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(lugar.edificio)}}</td>
                                                <td class="hColumns">{{=(lugar.espacio)}}</td>
                                                <td class="hColumns">{{=(lugar.referencia)}}</td>
                                                <td class="hColumns">{{=(lugar.extension_tlf)}}</td>
                                                <td>
                                                    <img src="{{=URL('static','images/editar2.png')}}" width="20px">

                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=lugar.espacio)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                 <div class="container-fluid" id="tabla_edificios">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarEdificio">Agregar Edificio</button>
                                    <center>
                                        <h3>Catálogo de Edificios</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de los Edificios de la USB</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Nombre</th>
                                            <th class="hColumns">Nomenclatura</th>
                                            <th></th>
                                        </thead>

                                        <tbody>
                                            {{for edif in edificio:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(edif.nombre)}}</td>
                                                <td class="hColumns">{{=(edif.nomenclatura)}}</td>
                                                <td>
                                                    <img src="{{=URL('static','images/editar2.png')}}" width="20px">
                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=edif.nomenclatura)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div class="container-fluid" id="tabla_inventario">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarMaterial">Agregar Material</button>
                                    <center>
                                        <h3>Catálogo de Materiales</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de los Materiales Disponibles</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Material</th>
                                            <th class="hColumns">Cantidad</th>
                                            <th></th>
                                        </thead>

                                        <tbody>
                                            {{for inv in inventario:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(inv.material)}}</td>
                                                <td class="hColumns">{{=(inv.cantidad)}}</td>
                                                <td>
                                                    <img src="{{=URL('static','images/editar2.png')}}" width="20px">

                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=inv.id)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="container-fluid" id="tabla_area">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarArea">Agregar Área</button>
                                    <center>
                                        <h3>Catálogo de Áreas</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de Areas</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Nombre</th>
                                            <th class="hColumns">Nomenclatura</th>
                                            <th></th>
                                        </thead>

                                        <tbody>
                                            {{for area in area:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(area.nombre)}}</td>
                                                <td class="hColumns">{{=(area.nomenclatura)}}</td>
                                                <td>
                                                    <img src="{{=URL('static','images/editar2.png')}}" width="20px">

                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=area.nomenclatura)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="container-fluid" id="tabla_supervisores">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarSupervisor">Agregar Supervisor</button>
                                    <center>
                                        <h3>Catálogo de Supervisores</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de los Supervisores</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Area</th>
                                            <th class="hColumns">Nombre</th>
                                            <th class="hColumns">Apellido</th>
                                            <th class="hColumns">USBid</th>
                                            <th></th>
                                        </thead>

                                        <tbody>
                                            {{for supervisor in supervisor:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(supervisor.area.nombre)}}</td>
                                                <td class="hColumns" >{{=(supervisor.nombre)}}</td>
                                                <td class="hColumns">{{=(supervisor.apellido)}}</td>
                                                <td class="hColumns" >{{=(supervisor.identificador)}}</td>
                                                <td>
                                                    <img src="{{=URL('static','images/editar2.png')}}" width="20px">

                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=supervisor.identificador)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="container-fluid" id="tabla_unidades">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarUnidad">Agregar Unidad</button>
                                    <center>
                                        <h3>Catálogo de Unidades</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de las Unidades</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Nombre</th>
                                            <th></th>
                                        </thead>

                                        <tbody>
                                            {{for unidad in unidad:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(unidad.nombre)}}</td>
                                                <td>
                                                    <img src="{{=URL('static','images/editar2.png')}}" width="20px">

                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=unidad.nombre)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="container-fluid" id="tabla_solicitudes">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarEstado">Agregar Estado</button>
                                    <center>
                                        <h3>Catálogo de los Estados de las Solicitudes</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de los estatus</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Nombre</th>
                                            <th></th>
                                        </thead>

                                        <tbody>
                                            {{for estatus in estatus_solicitud:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(estatus.nombre_estatus)}}</td>
                                                <td>
                                                    <img src="{{=URL('static','images/editar2.png')}}" width="20px">

                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=estatus.nombre_estatus)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="container-fluid" id="tabla_prioridad">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarPrioridad">Agregar Prioridad</button>
                                    <center>
                                        <h3>Catálogo de la Prioridad de las Solicitudes</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de las Posibles Prioridades</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Nombre</th>
                                            <th></th>
                                        </thead>

                                        <tbody>
                                            {{for prioridad in prioridad:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(prioridad.nombre_prioridad)}}</td>
                                                <td>
                                                    <img src="{{=URL('static','images/editar2.png')}}" width="20px">

                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=prioridad.nombre_prioridad)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="container-fluid" id="tabla_espacio">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="rounded">
                                <div class="roundedwhitecatalogo">
                                    <button type="button" class="col-sm-offset-10 btn btn-success" data-toggle="modal" data-target="#agregarEspacio">Agregar Espacio</button>
                                    <center>
                                        <h3>Catálogo de Espacio</h3>
                                        <hr WIDTH="30%">
                                        <p>Lista de los Espacios de la USB</p>
                                    </center>

                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <th class="hColumns">Nombre</th>
                                            <th></th>
                                        </thead>

                                        <tbody>
                                            {{for espacio in espacio:}}
                                            <tr class="clickable">
                                                <td class="hColumns" >{{=(espacio.nombre_espacio)}}</td>
                                                <td>
                                                    <img src="{{=URL('static','images/editar2.png')}}" width="20px">

                                                </td>
                                                <td>
                                                    <a href="{{=URL('eliminar', args=espacio.nombre_espacio)}}">
                                                        <img src="{{=URL('static','images/eliminar.png')}}" width="20px">
                                                    </a>
                                                </td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

<!-- Modal Agregar Empleado-->
<div id="agregarEmpleado" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Empleado</h4>
          <hr WIDTH="30%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_personal}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Edificio-->
<div id="agregarEdificio" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Edificio</h4>
          <hr WIDTH="30%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_edificio}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Material-->
<div id="agregarMaterial" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Material</h4>
          <hr WIDTH="40%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_inventario}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Area-->
<div id="agregarArea" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Area</h4>
          <hr WIDTH="30%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_area}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Supervisor-->
<div id="agregarSupervisor" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Supervisor</h4>
          <hr WIDTH="40%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_supervisor}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Unidad-->
<div id="agregarUnidad" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Unidad</h4>
          <hr WIDTH="30%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_unidad}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Estatus-Solicitud-->
<div id="agregarEstado" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Estatud de Solicitud</h4>
          <hr WIDTH="50%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_estatus}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Prioridad-->
<div id="agregarPrioridad" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Prioridad</h4>
          <hr WIDTH="30%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_prioridad}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Espacio-->
<div id="agregarEspacio" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Espacio</h4>
          <hr WIDTH="30%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_espacio}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Espacio-->
<div id="agregarLugar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
          <h4 class="modal-title">Agregar Lugar</h4>
          <hr WIDTH="30%">
        </center>
      </div>
      <div class="modal-body">
        {{=form_lugar}}
      </div>
    </div>
  </div>
</div>
        <!-- /#page-content-wrapper -->
<script  type="text/javascript">
$( document ).ready(function() {
    document.getElementById('tabla_area').style.display = "block";
    document.getElementById('tabla_edificios').style.display = "none";
    document.getElementById('tabla_inventario').style.display = "none";
    document.getElementById('tabla_empleado').style.display = "none";
    document.getElementById('tabla_supervisores').style.display = "none";
    document.getElementById('tabla_unidades').style.display = "none";
    document.getElementById('tabla_solicitudes').style.display = "none";
    document.getElementById('tabla_prioridad').style.display = "none";
    document.getElementById('tabla_espacio').style.display = "none";
    document.getElementById('tabla_lugar').style.display = "none";
});
function show(id) {
        document.getElementById('tabla_empleado').style.display = "none";
        document.getElementById('tabla_edificios').style.display = "none";
        document.getElementById('tabla_inventario').style.display = "none";
        document.getElementById('tabla_area').style.display = "none";
        document.getElementById('tabla_supervisores').style.display = "none";
        document.getElementById('tabla_unidades').style.display = "none";
        document.getElementById('tabla_solicitudes').style.display = "none";
        document.getElementById('tabla_prioridad').style.display = "none";
        document.getElementById('tabla_espacio').style.display = "none";
        document.getElementById('tabla_lugar').style.display = "none";
        document.getElementById(id).style.display = "block";
}
</script>
</html>
{{end}}
