{{extend 'layout.html'}}

{{block content}}

        <!-- Page Content -->
          <ul class="nav navbar-nav navbar-right">
            {{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}
          </ul>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <center>
                            <h1>Bienvenido, Usuario.</h1>
                            <p>A continuación puede encontrar una lista de sus últimas notificaciones. </p>
                            <code><a href="#menu-toggle" class="" id="menu-toggle">Para ocultar clic aquí</a></code>
                            </br>
                        </center>
                    </div>
                </div>

                <div id="centrar">
                     <div class="col-lg-12 rounded_home" >
                        <div class="roundedwhite_home">
                            <center>
                                <h3>Notificaciones</h3>
                                <hr WIDTH="20%">
                                <p>A continuación puede encontrar un resumen de sus últimos movimientos.</p>
                            </center>
                            <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Truncated_Bar_Graph.svg/2000px-Truncated_Bar_Graph.svg.png" width="100%">-->

                            <a href="http://www.google.com"> <div class="alert-box notice"><span>Nuevo correo: </span>Problema en la solicitud #333 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box warning"><span>Solicitud Rechazada: </span>Falta de material para atender solicitud de MYS</div></a>
                            <a href="http://www.google.com"> <div class="alert-box success"><span>Solicitud procesada: </span>Su solicitud de número: #888 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box success"><span>Solicitud procesada: </span>Su solicitud de número: #999 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notice"><span>Nuevo correo: </span>Problema en la solicitud #111 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notice"><span>Nuevo correo: </span>Problema en la solicitud #222 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notice"><span>Nuevo correo: </span>Problema en la solicitud #444 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notice"><span>Nuevo correo: </span>Problema en la solicitud #555 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notice"><span>Nuevo correo: </span>Problema en la solicitud #777 </div></a>
                        </div>
                    </div>
                </div>
                </div>

        <!-- /#page-content-wrapper -->
{{end}}
