{{extend 'layout.html'}}

{{block content}}
    <div class="row">
        <div class="col-lg-8">
    <h1>Notificaciones</h1>
    <h4>Estado actual de las solicitudes y los catálogos.</h4>
            </div>
        <div class="col-lg-2">
            <a href="{{=URL('default','show_send_email')}}" class="notif_link_but">
                <h5>
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-envelope-o "></i>
                    Enviar un nuevo correo
                </h5>
            </a>
            </div>
        </div>

<main>

  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Dpto. de Planeación</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Dpto. de Proyectos</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Dpto. de Mantenimiento</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Unidad de Administración</label>

  <input id="tab5" type="radio" name="tabs">
  <label for="tab5">Unidad de Atención e Inspección</label>

  <section id="content1">

                            <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Truncated_Bar_Graph.svg/2000px-Truncated_Bar_Graph.svg.png" width="100%">-->

                            <a href="http://www.google.com"> <div class="alert-box notification_list notice "><span>Nuevo correo: </span>Problema en la solicitud #333 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list warning"><span>Solicitud Rechazada: </span>Falta de material para atender solicitud de MYS</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #888 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #999 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #111 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #222 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #444 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #555 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #777 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice "><span>Nuevo correo: </span>Problema en la solicitud #333 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list warning"><span>Solicitud Rechazada: </span>Falta de material para atender solicitud de MYS</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #888 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #999 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #111 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #222 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #444 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #555 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #777 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice "><span>Nuevo correo: </span>Problema en la solicitud #333 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list warning"><span>Solicitud Rechazada: </span>Falta de material para atender solicitud de MYS</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #888 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #999 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #111 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #222 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #444 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #555 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #777 </div></a>

  </section>

  <section id="content2">
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice "><span>Nuevo correo: </span>Problema en la solicitud #333 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list warning"><span>Solicitud Rechazada: </span>Falta de material para atender solicitud de MYS</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #888 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #999 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #111 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #222 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #444 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #555 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #777 </div></a>
  </section>

  <section id="content3">
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice "><span>Nuevo correo: </span>Problema en la solicitud #333 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list warning"><span>Solicitud Rechazada: </span>Falta de material para atender solicitud de MYS</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #888 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #999 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #111 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #222 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #444 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #555 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #777 </div></a>
  </section>

  <section id="content4">
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice "><span>Nuevo correo: </span>Problema en la solicitud #333 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list warning"><span>Solicitud Rechazada: </span>Falta de material para atender solicitud de MYS</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #888 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #999 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #111 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #222 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #444 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #555 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #777 </div></a>
                                  <a href="http://www.google.com"> <div class="alert-box notification_list notice "><span>Nuevo correo: </span>Problema en la solicitud #333 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list warning"><span>Solicitud Rechazada: </span>Falta de material para atender solicitud de MYS</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #888 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #999 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #111 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #222 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #444 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #555 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #777 </div></a>
  </section>

  <section id="content5">
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice "><span>Nuevo correo: </span>Problema en la solicitud #333 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list warning"><span>Solicitud Rechazada: </span>Falta de material para atender solicitud de MYS</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #888 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list success"><span>Solicitud procesada: </span>Su solicitud de número: #999 esta siendo procesada.</div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #111 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #222 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #444 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #555 </div></a>
                            <a href="http://www.google.com"> <div class="alert-box notification_list notice"><span>Nuevo correo: </span>Problema en la solicitud #777 </div></a>
  </section>


</main>
{{end}}

{{block page_js}}
 <script src="js/prefixfree.min.js"></script>
{{end page_js}}