<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- Speaking of Google, don't forget to set your site up:
         http://google.com/webmasters -->
    <meta name="google-site-verification" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{=URL('static','css/simple-sidebar.css')}}" rel="stylesheet">
    <link href="{{=URL('static','css/requestTable.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicons -->
    {{include 'web2py_ajax.html'}} <!-- this includes jquery.js, calendar.js/.css and web2py.js -->
    {{block head}}{{end head}}
</head>

<body>

    <div class="jumbotron" id="Header">

        <img src="{{=URL('static','images/logob.png')}}" id="logob" >
        <img src="{{=URL('static','images/logo.png')}}" id="logo" height="90%">
    </div>

    <div id="wrapper">
            {{include}}
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          {{if response.menu:}}
          {{=MENU(response.menu, _class='sidebar-nav',li_class='sidebar-brand',ul_class='sidebar-nav')}}
          {{pass}}
        </div>
        <div id="page-content-wrapper">
            {{block content}}
            {{end content}}
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- The javascript =============================== -->

    <!-- jQuery -->
    <script src="{{=URL('static','js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        changelogo();
    });
    </script>

    <script>
    $(window).on('resize', function(){
            changelogo();
    });
    $(document).load(function() {
       $('#logob').width($('#sidebar-wrapper').width());
    });
    </script>

    <script>
    function changelogo(){
        var sidebarw= $('#sidebar-wrapper').width();
        var actualw = $('#logob').width();
        if (sidebarw >= 250) {
            var newsize = sidebarw*2
            $('#logob').animate({
                width: newsize+'px'
            }, 200);
        }
        else {
            var newsize = 300
            $('#logob').animate({
                width: newsize+'px'
            }, 200);
        };
        console.log(sidebarw);
        console.log($('#logob').width());
        console.log('buuuu');
    };
    </script>
    <!-- The javascript =============================== -->
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
    {{block page_js}}{{end page_js}}
    {{if response.google_analytics_id:}}
    <!-- Analytics ==================================== -->
    <script src="{{=URL('static','js/analytics.min.js')}}"></script>
    <script type="text/javascript">
      analytics.initialize({
      'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'}
      });
    </script>
    {{pass}}

</body>

</html>
